
<div class="d-flex justify-content-center mt-5 mb-3"> 
  <h1>Dashboard</h1>
</div>

<div class="d-grid gap-2 col-6 mx-auto">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCreate" aria-expanded="false" aria-controls="collapseCreate">New Post</button>
</div>

<div class="collapse" id="collapseCreate">
  <div class="card card-body mx-auto mt-3" style="width: 750px;">
    <form action="/dashboard" method="POST">
      <div class="mb-3">
        <label for="postTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="postContent" class="form-label">Subject</label>
        <textarea class="form-control" id="content" name="content" rows="3"></textarea>
      </div>
       <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div>
    {{! for each item in blog post data table, output it as a card from partials. Also have the update and delete buttons on partials}}
    {{#each newPosts}}
    {{> posts}}
    {{/each}}
</div>