
<div class="d-flex justify-content-center mt-5 mb-3">
  <h1>Recent Posts</h1>
</div>

<div>
    {{! for each item in blog post data table, output it as a card from partials. Also have the update and delete buttons on partials}}
    {{#if newPosts}}
      {{#each newPosts}}
      {{> homePosts}}
      {{/each}}
    {{/if}}
</div>