
<div class="d-flex justify-content-center mt-5 mb-3">
    <h1>Log In</h1>
</div>
<div class="container-fluid mx-auto mt-3" style="width: 400px;">
    <form action="/login" method="POST">
        <div class="mb-3">
            <label for="usernameInput" class="form-label fs-4">Username</label>
            <input type="text" class="form-control form-control-lg" id="usernameInput" name="username">
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label fs-4">Password</label>
            <input type="password" class="form-control form-control-lg" id="passwordInput" name="password">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Log In</button>
    </form>
    <div class="mt-5 d-flex flex-column align-items-center">
        <h5>Don't have a username?</h5>
        <a class="fs-4" href="/signup" style="text-decoration: none;">Sign up!</a>
    </div>
</div>